<!--{{ STATIC_URL }}-->

<!DOCTYPE html>
<html>
	<head>
		<title>Vidio Slideshow Creator</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/960_12_col.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/text.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
		<script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
    	<script src="{{ STATIC_URL }}js/slideshow.js"></script>
    	<script src="{{ STATIC_URL }}js/jquery-ui-1.8.20.custom.min.js"></script>

	</head>
	
	<body>
		<div id="wrapper">

			<div id="container" class="container_12">
				<header>
					<h1>Vidio</h1>
					<nav>
                    	<ul id="mainMenu">
                    		<li><a id = "newShow" href="selectpictures.html">New Show |</a></li>
                        	<!--<li><a href="myprojects.html">My Projects |</a></li>
                        	<li><a href="index.html">Log Out</a></li>  These will be used later, when I add the ability to log-in with Facebook and save shows--> 
                        </ul>
                	</nav>  
				</header>

				<form><input id="projectName" type="text" placeholder="Name your project"/></form>


				<div class="showContainer">
					<div id = "tabs">
						<ul id = "tabsButtons">
							<li id ="selectButton" class = "selected">1) Search</li>
							<li id = "createShowButton" class="notSelected">2) Create</li>
						</ul>
						<div class = "clear"></div>
						<div class="grid_8 box alpha" id="photoAlbums">
							<h2>Search and Select Photos</h2>
							<div id = "dialogSearch" class = "dialogBox" >
								<p>This is where you'll choose pictures to use in your show. Search for pictures, then click on the ones you like and they'll be saved in Project Pictures. When you're done, click on the Create tab to arrange them.</p>
							</div>
							<input id="searchFlickr" type="text" placeholder="search for photos"></input>
	        				<input id="searchFlickrButton" type="button" value="Search Flickr"></input>
							<ul id = "new_images">
								
							</ul>
							<div class="clear"></div>

						</div><!--end photoAlbums-->

						<div class='grid_8 alpha box hidden' id='createShow'>
							<h2>Create Show</h2> 
							<div id = "dialogCreate" class = "dialogBox" >
								<p>This is where you'll create your show. Click on the photos from Project Pictures that you want to use in your show, and they'll appear here in order.</p>
							</div>
							<ul id = 'showPictures'>

							</ul>
						</div><!--end createShow-->
					</div><!--end tabs-->

					<div class="grid_4 omega box" id = "projectPictures">
						<h2>Project Pictures</h2>
						<ul id = "listOfPhotos">

						</ul>
						<div class = "clear"></div>
					</div><!--end photoBank-->
					<div class="clear"></div>

					<div id="popup_box">   
					    <div id = "popUpPics"></div>
					    <ul id = "popUpLinks">							 						    
						     <li><a href = "#" id = 'playButton'>Play</a></li>
						     <li><a href = "#" id = "popupBoxClose">Close</a></li>
						</ul>
					</div>

				</div><!--end showContainer-->

			<!--<ul id = "blueButton">
				<li id="selectButton"></li>
				<li id = "createShowButton"></li>
				<li id = 'viewButton'></li>
			</ul> -->

			<div id = "viewButton" class="hidden"></div>

			</div><!--end container-->

			<div class="clear"></div>

			<footer>
				<ul id="bottomNav">
					<li>&copy Lauren Gundrum 2012 |</li>
					<li><a href="mailto:lauren.gundrum@gmail.com">Email me |</a></li>
					<li><a href="#top">Top of Page |</a></li>
				</ul><!--bottomNav-->
			</footer>

		</div><!--end wrapper-->

	</body>
</html>