/*Color Palette: http://www.colourlovers.com/palette/38793/creative_cream */

@import url(http://fonts.googleapis.com/css?family=Crafty+Girls);

/*----------------------------------------------------------------------------- 
GLOBAL STYLES
-----------------------------------------------------------------------------*/

body {
	background: #EBF7F8;
}

#wrapper {
	background: url("../images/header_background.JPG") repeat-x;
}

p {
	color: #49708A;
}

input {
	color: #49708A;
}

.clear {
	clear: both;
}

header {
	height: 100px;
	position: relative;
	margin-bottom: 80px;
}

footer {
	overflow: hidden;
	margin-top: 20px;
	color: #49708A;
}
	footer ul {
		width: 350px;
		list-style: none;
		margin: 0 auto;
	}

	footer ul li {
	float: left;
	font-size: 14px;
	margin: 5px;
	padding: 0;
	}

	footer ul li a {
		color: #49708A;
		display: block;
		text-decoration: none;
	}

	footer ul li a:hover {
		color: #88ABC2;
	}

	footer p {
		margin: 0;
	}

h1 {
	font-family: 'Crafty Girls', cursive;
	font-size: 60px;
	font-weight: bold;
	color: #EBF7F8;
	padding: 0;
	position: absolute;
	left: 10px;
}

h2 {
	font-size: 22px;
	border-bottom: 2px inset #49708A;
	text-align: center;
	color: #49708A;
}

nav {
	overflow: hidden;
	position: absolute;
	top: 5px;
	right: 5px;
}

nav ul {
	list-style: none;
}

nav ul li {
	float: left;
	font-size: 14px;
	margin: 5px;
	padding: 0;
}

nav ul li a {
	color: #EBF7F8;
	display: block;
	text-decoration: none;
}

nav ul li a:hover {
	color: #D0E0EB;
}

.showContainer ul li {
	list-style: none;
}

.showContainer ul li img {
	float: left;
	width: 50px;
	height: 50px;
	margin: 5px;
}


/*----------------------------------------------------------------------------- 
INDEX
-----------------------------------------------------------------------------*/
#summary ul {
	margin-bottom: 50px;
}

#summary ul li {
	font-size: 16px;
	color: #49708A;;
}


/*----------------------------------------------------------------------------- 
SELECT PICTURES
-----------------------------------------------------------------------------*/


.box {
	background: #EBF7F8;
	height: 500px;
	text-align: center;
	border: solid 1px white;
	outline: solid 8px #D0E0EB;
	margin-bottom: 20px;
}

#photoAlbums{
	overflow: auto;
}

input#projectName {
	margin-bottom: 15px;
	margin-left: -8px;
}

#projectPicturesContainer {
	height: 430px;
	overflow: auto;
	margin-bottom: 5px;
}

/*----------------------------------------------------------------------------- 
BOTTOM NAV BUTTONS (SPRITES)
-----------------------------------------------------------------------------*/
.blueButton {
	margin: 0 auto;
	height: 52px;
	background: url("../images/sprites.png");
}

#goButton {
	width: 88px;
	background-position: -263px 0;
}

	/*sprites*/

		#selectButton {
			margin: 0 auto;
			width: 88px;
			height: 52px;
			background: url("../images/sprites.png");
			background-position: 0 0;
		}

		#createShowButton {			
			width: 96px;
			background-position: -89px 0;
		}

		#viewButton {
			width: 80px;
			height: 52px;
			background-position: -185px 0;
		}

.active {
	outline: solid 3px #88ABC2;
}

/*----------------------------------------------------------------------------- 
CREATE SHOW DIV
-----------------------------------------------------------------------------*/
#createShow {
	overflow: auto;
}

#projectPictures {
	overflow: auto;
}

/*----------------------------------------------------------------------------- 
MY PROJECTS
-----------------------------------------------------------------------------*/

/*---1. Left side navigation --*/

#myProjects {
	background: #49708A;
	border: solid 1px black;
	border-left: solid 1px #49708A;
	margin-left: 0;
	margin-bottom: 20px;
	padding-left: 0;
	height: 500px;
	overflow: auto;
}

#myProjectsDates {
	height: 500px;
	width: 150px;
	margin-right: 0;
	padding-right: 0;
}

	ul#dates {
		list-style: none;
	}

	ul#dates li {
		font-size: 16px;
		text-align: center;
		border-bottom: solid 1px #49708A;
	}

	ul#dates li#title {
		font-style: italic;
		font-weight: bold;
		font-size: 16px;
	}

	ul#dates li a {
		text-decoration: none;
		color: #49708A;
		display: block;
		height: 40px;
		padding-top: 15px;
		text-decoration: none;
	}

	ul#dates li a:hover {
		color: #EBF7F8;
		background: url("../images/rollover.png") 0 0 repeat-x;
	}

/*---2. First month's projects --*/
/*---obviously, this is just an example. Once I learn some javascript and my friend builds the back-end this will 
actually display the user's projects---*/

ul#dates li a#selected {
	color: #EBF7F8;
	background: url("../images/rollover.png") 0 0 repeat-x;
}

#myProjects ul {
	list-style: none;
}

#myProjects ul#projectsList li {
	float: left;
}

#myProjects iframe {
	width: 220px;
	height: 165px;
	margin-top: 10px;
}

#myProjects ul.projectView {
	width: 150px;
	margin: 0 auto;
}

#myProjects ul.projectView li {
	float: left;
}

#myProjects ul.projectView a {
	text-decoration: none;
	color: #EBF7F8;
}

#myProjects ul.projectView a:hover {
	text-decoration: none;
	color: #D0E0EB;
}

/*----------------------------------------------------------------------------- 
Pop Up Box to view show
-----------------------------------------------------------------------------*/
#popup_box { 
    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:500px;  
    width:850px;  
    
    background: white;

    left: 300px;
    top: 50px;
    z-index:100; /* Layering */
    margin-left: 40px;  
    
    /* additional styles */
    border:8px solid #49708A;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #49708A;
    -webkit-box-shadow: 0 0 5px #49708A;
    box-shadow: 0 0 5px #49708A;
    
}

	#popup_box #ul li {
		list-style: none;
		width: 100%;
	}

	#popup_box #ul img {
		display: block;
		margin: 0 auto;
	}

	.hidden {
		display: none;
	}

#viewLink {
	width: 200px;
	margin: 0 auto;
}

/*links*/
	
	#popUpLinks {
		width: 200px;
	}
	
	#popUpLinks li {
		float: left;
		list-style: none;
	}


